body,
html {
  height: 100%;
  width: 100%;
  margin: 0;

  background-color: black;
}

* {
  margin: 0;
}

#container {
  display: grid;
  color: white;
  height: 100%;

  grid-template-areas: "yesihaveonegridrow noihavetwo sikethreerows";
  grid-template-columns: 1fr 1fr 1fr;

  padding-left: 5vw;
  padding-right: 5vw;
}

#track_img {
  width: 100%;
  grid-area: yesihaveonegridrow;
  place-self: center;
}
#track_title {
  grid-area: yesihaveonegridrow;
  place-self: center;
}
