body,
html {
  height: 100%;
  width: 100%;
  margin: 0;

  background-color: black;
}

:root {
  --track_img_url: url("");
}

* {
  margin: 0;
  font-family: "Raleway", sans-serif;

  box-sizing: border-box;
}

#container {
  display: grid;
  color: white;
  height: 100%;
  width: 100%;

  padding: 20px;

  grid-template-areas: "left right";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

#right_side {
  grid-area: right;
  display: grid;
  grid-template-areas: "top" "bottom";
  grid-template-rows: 1fr 1fr;
}

#track_img {
  width: 80%;
  position: absolute;
}

#lower_part_of_thingeliding {
  grid-area: bottom;
  width: 80%;

  display: grid;
  justify-items: center;
}

#track_container {
  display: grid;
  grid-template-areas: "top" "bottom";
  grid-template-rows: 4fr 2fr;
  grid-template-columns: 100%;

  justify-items: center;

  height: 100%;
  width: 100%;
}
#track_img_container {
  position: relative;
  height: 100%;
  width: 100%;

  grid-area: top;
  place-self: center;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0.6768867924528301) 60%,
      rgba(255, 255, 255, 0) 100%
    ),
    var(--track_img_url);
  background-size: cover;
}

#info {
  display: grid;
  justify-items: center;
  align-content: center;
}

#track_title {
  font-size: 30px;
  display: block;
  font-weight: 500;
}

#track_artist {
  color: darkgray;
  font-size: 18px;
}

#progress_bg {
  background-color: #403f3f;

  width: 100%;
  height: 6px;
  position: relative;

  border-radius: 12px;
  display: block;
}

#progress {
  background-color: white;
  position: absolute;

  height: 100%;
  width: 50%;

  border-radius: 12px;
}

#time_container {
  position: relative;
  width: 100%;
  height: 10px;
  display: block;
  font-size: 10px;
}
#progress_time {
  position: absolute;
  left: 0;

  font-size: 23px;
}
#total_time {
  position: absolute;
  right: 0;

  font-size: 23px;
}
