html {
  margin: 0;
  background-color: #111;
}
body {
  height: 720px;
  width: 1280px;
  background-color: black;
}
:root {
  --track_img_url: url("");
}

* {
  margin: 0;
  font-family: "Raleway", sans-serif;

  box-sizing: border-box;
}

#container {
  display: grid;
  color: white;
  height: 100%;
  width: 100%;

  padding: 20px;

  grid-template-areas: "t_left t_right" "b_left b_right";
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto;
}

#right_side {
  grid-area: t_right;
  display: grid;
  grid-template-areas: "top_l top_r" "bottom bottom";
  grid-template-rows: 1fr 1fr;
}

#track_img {
  width: 80%;
  position: absolute;
}

#lower_part_of_thingeliding {
  grid-area: bottom;
  width: 80%;

  display: grid;
  justify-items: center;
}

#track_container {
  grid-area: t_left;
  display: grid;
  grid-template-areas: "top" "bottom";
  grid-template-rows: 4fr 2fr;
  grid-template-columns: 100%;

  justify-items: center;

  height: 100%;
  width: 100%;
}
#track_img_container {
  position: relative;
  height: 100%;
  width: 100%;

  grid-area: top;
  place-self: center;

  background-image: linear-gradient(180deg, transparent, black),
    var(--track_img_url);
  background-size: cover;
}

#info {
  display: grid;
  justify-items: center;
  align-content: center;
}

#track_title {
  display: block;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

#track_artist {
  color: darkgray;
  font-size: 23px;
}

#progress_bg {
  background-color: #403f3f;

  margin-top: 20px;

  width: 100%;
  height: 6px;
  position: relative;

  border-radius: 12px;
  display: block;
}

#progress {
  background-color: white;
  position: absolute;

  height: 100%;
  width: 50%;

  border-radius: 12px;
}

#time_container {
  position: relative;
  width: 100%;
  height: 10px;
  display: block;
  font-size: 10px;
}
#progress_time {
  position: absolute;
  left: 0;

  font-size: 23px;
}
#total_time {
  position: absolute;
  right: 0;

  font-size: 23px;
}

#weather_container {
  grid-area: top_r;

  margin-right: 60px;
  margin-top: 40px;

  align-self: start;
  justify-self: end;

  display: grid;
  justify-items: center;
  grid-template-areas: "top_left top_right" "bottom bottom";

  font-size: 30px;

  width: 60%;
}

#weatherIcon {
  filter: invert(1);
  height: 150px;

  grid-area: top_left;
}

#weather {
  grid-area: bottom;
}

#tempature {
  grid-area: top_right;
  justify-self: start;
  align-self: center;

  font-size: 60px;
}

#calender {
  grid-area: top_l;

  font-size: 40px;
  padding-left: 40px;

  justify-self: start;
  align-self: start;
  display: grid;
}

#time {
  display: block;
  justify-self: center;
  padding-bottom: 10px;

  font-size: 70px;
  font-weight: 500;
}

#clock {
  display: block;

  background-color: #ddd;
  color: #242424;

  width: 200px;
  padding: 15px;

  font-weight: 700;
  text-align: center;
}

#date {
  display: block;
}

#month {
  font-size: 40px;
  font-weight: 700;
}
